<h1>User Login</h1>

<form action='/login' method='POST'>
  <input type='text' name='user[email]' placeholder='email'><br>
  <input type='password' name='user[password]' placeholder='password'><br>
  <input type='submit' value='Login'>
</form>
