<h1 class="page-title">Please Login to Play</h1>

<form action='/login' method='POST'>
  <div class="form">
	  <input type='text' name='email' placeholder='email'><br>
	  <input type='password' name='password' placeholder='password'><br>
	  <input class="form-button" type='submit' value='Login'>
  </div>
</form>
