body {
	padding: 20px;
	background-color: #6BBFDB
}

#site-name {
	font-size: 50px;
	font-weight: bold;
}

#nav-bar {
	display: block;
	text-align: right;
	margin-top: -40px;
	margin-bottom: 40px;
}

.nav-items {
	padding: 7px;
	margin: 2.5px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	text-decoration: none;
	background-color: #D3DBDE;
	color: black;
}

li {
	list-style-type: none;
	font-size: 20px;
	font-weight: bold;
}

li > a {
	color: black;
}

.page-title {
	text-align: center;
	padding-top: 20px;
	border-top: 5px solid black;
}

#start-round {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    display: inline;
    font: inherit;
    margin: 5;
    margin-left: 5px;
    padding: 5px;
    outline: none;
    outline-offset: 0;
    font-size: 20px;
    color: black;
    background-color: #D3DBDE;
    cursor: pointer;  
}

.form {
	margin: 0 auto;
	border: 3px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	background-color: #D7DDDE;
}

.form > input {
	margin: 15px;
	font-size: 20px;
}

.form > textarea {
	margin: 15px;
	font-size: 20px;
	resize: none;
}

.form-button {
	border: 2px solid black;
	border-radius: 5px;
}