<h1>This is a flashcard</h1>

<h2>@card.decks</h2>

<h3>@card.question</h3>

<form action='#' method='POST'>
  <input type='text' name='guess[response]' placeholder='your answer'>
  <input type='submit' value='submit your guess'>
</form>
