<h1 class='page-title'><%= @deck.title %> Deck</h1>

<form action='/rounds' method='POST'>
  <input type='hidden' name='deck_id' value='<%= @deck.id %>'>
  <input id='start-round' type='submit' value='Start Round'>
</form>
