<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<header id='site-name'>Flash N' Dash</header>
<nav id='nav-bar'>
<% if logged_in? %>
  <a class='nav-items' id='test' href="/users/<%= current_user.id %>"><%=current_user.name.capitalize %></a>
  <a class='nav-items' href="/logout">Logout</a>
<% else %>
<a class='nav-items' href="/users/new">Register</a>
  <a class='nav-items' href="/login">Login</a>
<% end %>
  <a class='nav-items' href='/'>Home</a>
</nav>

  <%= yield %>
</body>
</html>
